#stage{
    width: 90vw;
    height: 90vh;
    overflow: hidden;
    
}
#curtain{
    position: relative;
    width: 100vw;
    margin: auto;
    background-image: url("images/curtain.svg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

#corgiSign{
    width: 41vw;
    position: fixed;
    top: 4%;
    left: 29%;
}
