#stage{
    width: 90vw;
    height: 90vh;
    overflow: hidden;
}
#curtain{
    position: relative;
    width: 100vw;
    margin: auto;
}

#corgiSign{
    width: 41vw;
    position: fixed;
    top: 4%;
    left: 29%;
}
